.catalog {
    margin-top: 80px;
    background-color: white;
    border-radius: 40px;
    padding-bottom: 80px;
    width: 1309px;
    h1 {
        font-size: 42px;
        width: 343px;
        font-weight: normal;
    }
    .list {
        display: flex;
        gap: 30px;
        // padding-left: 40px;
        padding-top: 50px;
    }
    li {
        list-style: none;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }
    li:hover {
        color: #5AC3FE;
        transition: 0.1s ease-in-out;
    }
    li.active {
        color: #5AC3FE;
        transition: 0.3s ease-in-out;
    }
}

.catalog_card {
    text-align: center;
    width: 360px;
    background-color: #82D2FF;
    border-radius: 30px;
    border:2px solid black ;
    margin-top: 33px;
    h2 {
        font-size: 26px;
        font-weight: normal;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    p {
        font-size: 16px;
        padding-bottom: 20px;
    }
    h3 {
        font-size: 26px;
        padding-bottom: 20px;
    }
    img {
        border: 1px solid black;
        border-radius: 40px;
        margin-top: 20px;
    }
}
.button_card {
    background-color: #FBA037;
    border-radius: 40px;
    width: 220px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
    a {
        text-decoration: none;
        font-size: 14px;
        color: black;
    }
}
.catalog_card:hover {
    transform: scale(1.1);
    transition: all 0.3s ;
    transition: transform 0.5s;
}

.product_card {
    text-align: center;
    width: 360px;
    height: 410px;
    background-color: #82D2FF;
    border-radius: 30px;
    border:2px solid black ;
    margin-top: 33px;
    h2 {
        font-size: 26px;
        font-weight: normal;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    p {
        font-size: 16px;
        padding-bottom: 20px;
    }
    h3 {
        font-size: 26px;
        padding-bottom: 20px;
    }
    img {
        border: 1px solid black;
        border-radius: 40px;
        margin-top: 20px;
    }
}

.cart {
    position: absolute;
    right: 18%;
    bottom: 73%;
}
.content_cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}